/*------------------- Footer - partial --------------------------------*/


.footer {
	clear: left;
	bottom: 0px;
	margin-top: 40%;
	background-color: #e54747;
	text-align: center;
}

.footer p {
	font-size: 20px;
	font-weight: bold;
	padding: 2%;
}